<img class="hanlogo" src="https://blogfiles.pstatic.net/MjAxODExMjFfMjc2/MDAxNTQyODAyNzE1NjQw.GI41AhMA6nEWyhlKLN-IZMVPJwnksr2lNbzVlpwG_4gg.mbVHVkd8VBoZJu6tOd3GmKCdzwUZESxLLpimXFdHYMwg.PNG.ypk02007/hanlogo.png" >
<img class="han" src="https://blogfiles.pstatic.net/MjAxODExMjFfMjMz/MDAxNTQyODAyNzE2MDMz.wHaIyTdrzLg3GnAk1vxPTPwdysDWmb8ScTZ6vIECAP4g.Vlz4bBE3ZFL1y2ogjebkluN_2Qp_RqU9Dmefhr6ejlog.PNG.ypk02007/hanmu.png">

<div class="loginform">
  <div><h5>LOGIN</h5>
    <form (submit)="onLoginSubmit()">
      <div id="inputs">
        <label> 아이디 : </label>
        <input type="text" class="form-control" [(ngModel)]="username" name="username">
      </div>
      <div id="inputs">
        <label> 비밀번호 : </label>
        <input type="password" class="form-control" [(ngModel)]="password" name="password">
      </div>
      <div id="inputs">
        <button id="bigbutton" type="submit" value="Login"> 로그인 </button>
      </div>
      <div id="inputs">
        <button id="otherbutton" [routerLink]="['/register']"> 회원가입 </button>
        <button id="otherbutton"> ID/PW 찾기 </button>
      </div>
      <div id="inputs">
        <input type="checkbox"> 로그인 정보 기억
      </div>
    </form>
  </div>
</div>