<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<h1 class="Container">한성스터디</h1>
<div class="noticeBorder">
    <div class="noticeBar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-rgb(27, 101, 212)">
          <a class="navbar-brand" routerLink="/home">메인 화면</a>
          <button class="navbar-toggler" type="button" 
          data-toggle="collapse" 
          data-target="#navbarNavAltMarkup" 
          aria-controls="navbarNavAltMarkup" 
          aria-expanded="false" 
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" routerLink="/writeStudy"> 글쓰기 <span class="sr-only">(current)</span></a>
                <div>
                  <ul class="nav justify-content-end">
                    <a class="nav-item nav-link" routerLink="/study">한성스터디</a>
                    <a class="nav-item nav-link" routerLink="/question">한성지식</a>
                    <a class="nav-item nav-link" routerLink="/together">한성투게더</a>
                    <a class="nav-item nav-link" routerLink="/petition">한성청원</a>
                  </ul>
                </div>
            </div>
          </div>
        </nav>
      </div>
      <div *ngIf="study && !one">
        <div *ngFor="let list of study; let i=index">
          <div id="written" (click)="showOne(i, list._id)" *ngIf="pageCheck(i)">{{list.title}}<br>{{list.writer}} {{list.date}}</div>
        </div>
      </div>
      <div *ngIf="study && one">
        <div id="written">
          제목 : {{studyOne.title}}<br>작성자 : {{studyOne.writer}}<br>내용 : {{studyOne.content}}<br>
          <span *ngIf="studyOne.writer==user.name">
            <button id="bigbutton" (click)="update()" > 수정 </button>
            <button id="bigbutton" (click)="delete(studyOne._id)"> 삭제 </button>
          </span>
        </div>
        <div class="container">
          <h1 align="center">댓글</h1>
          <hr/>
          <div class="form-group">
              <h2>Leave a Reply</h2>
              <form (submit)="submitComment(user.name)">
                  <textarea class="form-control" rows="5" [(ngModel)]="content" name="content" placeholder="Your Comment"></textarea><br/>
                  <button class="btn btn-success btn-md pull-right" type="submit" value="Submit">Comment</button><br/>
                  <hr/>
                  <h3>Comments</h3>
                  <ul class="list-group">
                      <li class="list-group-item" *ngFor="let list of comment"> {{list.writer}} : {{list.content}}<br> {{list.date}}
                          <a><span class="glyphicon glyphicon-trash" style="color:red; float:right;" *ngIf="list.writer==user.name" (click)="deleteComment(list._id)"> X </span></a>
                      </li>
                  </ul>
              </form> 
          </div>
        </div>
      </div>

    <footer *ngIf="study && !one">
      <form (submit)="searchStudy()">
        <label id="ss" for="name"> 검색 </label>
        <input type="text" [(ngModel)]="search" name="search">
        <button type="submit" value="Search"><img src="https://png.pngtree.com/element_pic/17/03/24/61e7397810c48656dfa148fdd66d229d.jpg" width="30px" height="30px"></button>
      </form>
      <span (click)="changePage(-1)">◀</span>
      <span *ngFor="let num of pageIndex">
        <span *ngIf="num!=pageNum" (click)="changePage(num)"> {{num}} </span>
        <span *ngIf="num==pageNum" id="currentPage"> {{num}} </span>
      </span>
      <span (click)="changePage(0)">▶</span>
    </footer>
</div>

