<div class="Container">
  <h1>Test</h1>
  <div class="noticeBorder">
    <div id="messages">
      <div id="written" *ngFor="let list of message">
        {{list.content}}<br>{{list.time}}
      </div>
    </div>
    <div>
      <form (submit)="sendMessage()">
        <div id="inputs">
          <input type="text" class="form-control" [(ngModel)]="content" name="content">
        </div>
        <div id="inputs">
          <button id="bigbutton" type="submit" value="Submit"> send </button>
        </div>
      </form>
    </div>
  </div>
</div>